# Build artifacts
*.o
*.obj
*.exe
*.dll
*.lib
*.so
*.a
*.out
*.bin
*.ilk
*.pdb
*.exp
*.idb
*.ipch
*.tlog

# Temporary files
*~
*.bak
*.tmp
*.swp
*.swo

# IDE-specific files (e.g., Visual Studio, CLion, VS Code)
.vs/
.idea/
.vscode/
*.user
*.suo
*.VC.db
*.VC.opendb
*.vcxproj.user
*.sln.docstates

# CMake-related files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/

x64/
Tests/x64/

# Other common files
*.log
*.tlog
*.DS_Stores