#pragma code_page(65001)

BASE_VERTEX_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/BaseVertexShader.vert"
BASE_FRAGMENT_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/BaseFragmentShader.frag"

DEPTH_VERTEX_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/DepthVertexShader.vert"
DEPTH_FRAGMENT_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/DepthFragmentShader.frag"

TERRAIN_VERTEX_SHADER  RCDATA           "./ImportsLib/src/Terrain/Shaders/TerrainVertexShader.vert"
TERRAIN_FRAGMENT_SHADER  RCDATA         "./ImportsLib/src/Terrain/Shaders/TerrainFragmentShader.frag"
TERRAIN_MESH_COMPUTE_SHADER  RCDATA     "./ImportsLib/src/Terrain/Shaders/TerrainMesh.comp"
TERRAIN_PAINT_COMPUTE_SHADER  RCDATA    "./ImportsLib/src/Terrain/Shaders/TerrainPaint.comp"
TERRAIN_SELECT_COMPUTE_SHADER  RCDATA   "./ImportsLib/src/Terrain/Shaders/TerrainSelect.comp"
TERRAIN_GRASS_VERTEX_SHADER RCDATA      "./ImportsLib/src/Terrain/Grass/GrassVertexShader.vert"
TERRAIN_GRASS_FRAGMENT_SHADER RCDATA    "./ImportsLib/src/Terrain/Grass/GrassFragmentShader.frag"
TERRAIN_GRASS_COMPUTE_SHADER RCDATA     "./ImportsLib/src/Terrain/Grass/GrassGeneration.comp"
TERRAIN_GRASS_TEX_LOCATION RCDATA       "./ImportsLib/Textures/leaf.png";
TERRAIN_FLOWER_TEX_LOCATION RCDATA      "./ImportsLib/Textures/flower.png";
TERRAIN_CUBIC_SHADER  RCDATA            "./ImportsLib/src/Terrain/Shaders/Cubic.glsl"
TERRAIN_COMMON_SHADER  RCDATA           "./ImportsLib/src/Terrain/Shaders/TerrainCommon.glsl"
TERRAIN_TEXLOOKUP_SHADER  RCDATA        "./ImportsLib/src/Terrain/Shaders/TexLookup.glsl"

COMMON_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/Common.glsl"
SHADOW_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/Shadow.glsl"
LIGHT_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/Light.glsl"

BLUR_TEX_COMPUTE_SHADER  RCDATA  "./ImportsLib/src/Renderer/Shaders/glsl/BlurTex.comp"


